{{#each this}}

  <div class='countries-official'>
    <img class='countries-img' src='{{flags.svg}}' />
    <h1 class='countries-title'>{{name.official}}</h1>
  </div>
  <p class='countries-text'>
    Capital:
    <span class='countries-text_info'>{{capital}}</span>
  </p>
  <p class='countries-text'>
    Population:
    <span class='countries-text_info'>{{population}}</span>
  </p>
  <p class='countries-text'>
    Languages:
    {{#each languages}}
      <span class='countries-text_info'>{{this}}</span>
    {{/each}}
  </p>

{{/each}}